
body{
    background-color: beige;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;   
}
h1{
    text-align: center;
    font-size: 48px;
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
}
h2{
    color: white;
    text-align: center;
    font-size: 48px;
    padding: 50px 0px 50px 0;
    font-family: 'Josefin Slab', serif;
}
h3{
    padding-top: 25px;
}
.heroTitle{
    color: white;
    padding-top: 50px;
    font-size: 40px;
    font-family: 'Josefin Slab', serif;
}
.heroSubtitle{
    font-size: 20px;
    color: lightgrey;
    font-family: 'Josefin Slab', serif;
}
.heroBG{
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 15px solid #3d3d3d;
    height: 80vh;
}
.sectionThree{
    padding-bottom: 75px;
}
.imageDes{
    color: white;
}
.boldQuote h4{
    font-weight: none;
    font-size: 14px;
}
.boldQuote p{
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 24px;
}

.newSection2{
    border-top: 15px solid brown;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 70px;
}
.newSection3{
    background-color: antiquewhite;
    border-top: 15px solid brown;
}
.imageSection{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
}
@media (min-width: 1200px){
    body{
        font-size: 22px;
    }
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 60px;  
    }
    .boldQuote{
        font-size: 24px;
    }
    .heroTitle{
        font-size: 90px;
    }
    .heroSubtitle{
        font-size: 40px;
    }
}